<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								投诉主题：<input type="text" name="complaintTheme"/>
							</li>
							<li>
								被投诉单位：<input type="text" name="beComplaint"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="createMenuItem('express/complaint/add','我要投诉建议')" >
					<i class="fa fa-plus"></i> 我要投诉
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('express:complaint:edit')}]];
        var removeFlag = [[${@permission.hasPermi('express:complaint:remove')}]];
        var prefix = ctx + "express/complaint";

        $(function() {
            var options = {
                url: prefix + "/myList",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "投诉建议",
		        showExport: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键Id',
					visible: false
				},
				{
					field : 'userName', 
					title : '投诉人名',
					sortable: false
				},
				{
					field : 'userPhone', 
					title : '联系人方式',
					sortable: false
				},
				{
					field : 'adress', 
					title : '投诉人地址',
					sortable: false
				},
				{
					field : 'complaintTheme', 
					title : '投诉主题',
					sortable: false
				},
				{
					field : 'complaintContent', 
					title : '投诉内容',
					sortable: false
				},
				{
					field : 'complaintReplay', 
					title : '投诉回复',
					sortable: false
				},
				{
					field : 'beComplaint', 
					title : '被投诉单位',
					sortable: false
				},
				{
					field : 'createBy', 
					title : '创建人',
					sortable: false
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: false
				},
				{
					field : 'statusStr',
					title : '状态',
					sortable: false
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	if(row.status==1){
							actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="complaintEdit(\'' + row.id + '\')"><i class="fa fa-edit"></i>修改</a> ');
							actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="complaintRemove(\'' + row.id + '\')"><i class="fa fa-remove"></i>撤销</a>');
						}
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
		var complaintEdit=function(id){
			var url = prefix + '/edit/' + id;
			// $.modal.open("投诉/建议回复",url);
			createMenuItem(url, "投诉/建议编辑");
		}

		var complaintRemove=function(id){
			$.modal.confirm("你确认要撤销这条投诉/建议么？",function(){
				var url = prefix + '/remove/' + id;
				var data = { "ids": id };
				$.operate.submit(url, "post", "json", data);
			})
		}


    </script>
</body>
</html>