<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								订单编号：<input type="text" name="orderNo"/>
							</li>

							<li>
								接收省份：<select name="receiveProvince" th:with="list=${@province.getProvinceList()}" th:onchange="getCityListByProvinceId(this.value)">
								<option value="">选择省份</option>
								<option th:each="province : ${list}" th:text="${province.province}" th:value="${province.provinceid}"></option>
							</select>
							</li>

							<li>
								接收城市：<select name="receiveCity" id="receiveCity" >
								<option value="">选择城市</option>
							</select>
							</li>
							<li>
								客户类型：<select th:replace="include::selectDict('customerType','ex_customer_type')" ></select>
							</li>
							<li>
								状态：
								<select name="status" id="status">
									<option value="">所有</option>
									<option value="1">未签收</option>
									<option value="2">已签收</option>
									<option value="0">完结</option>
									<option value="-1">丢失</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.addTab(1)" shiro:hasPermission="express:order:add">
					<i class="fa fa-plus"></i> 我要发货
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="express:order:export">
						<i class="fa fa-download"></i> 导出列表
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('express:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('express:order:remove')}]];
        var roleKey=[[${@userServiceForHtml.getRoleKey()}]];
        var prefix = ctx + "express/order";
		var getCityListByProvinceId=function(val){
			$.operate.postQuery(prefix+"/getCityByProvinceId",{"provinceId":val},function(result){
				if($.common.isNotEmpty(result)){
					var options=["<option value=''>选择城市</option>"];
					$.each(result,function(i,o){
						options.push("<option value='"+o.cityid+"'   >"+o.city+"</option>")
					})
					$("#receiveCity").html(options.join(""));
				}
			})
		}
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "订单",
		        showExport: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'orderNo', 
					title : '订单编号',
					sortable: false
				},
				{
					field : 'sendTime', 
					title : '发货日期',
					sortable: false
				},
				{
					field : 'sendProvinceStr',
					title : '发送省份',
					sortable: false
				},
				{
					field : 'sendCityStr',
					title : '发送城市',
					sortable: false
				},
				{
					field : 'receiveProvinceStr',
					title : '接收省份',
					sortable: false
				},
				{
					field : 'receiveCityStr',
					title : '接收城市',
					sortable: false
				},
				{
					field : 'sendStationStr',
					title : '发送车站',
					sortable: false
				},
				{
					field : 'receiveStationStr',
					title : '接收车站',
					sortable: false
				},
				{
					field : 'customerNo', 
					title : '客户编码',
					sortable: false
				},
				{
					field : 'customerTypeStr',
					title : '客户类型',
					sortable: false
				},
				{
					field : 'sendName', 
					title : '发货人名称',
					sortable: false
				},
				{
					field : 'sendContacts', 
					title : '发货联系人',
					sortable: false
				},
				{
					field : 'sendPhone', 
					title : '发货人电话',
					sortable: false
				},
				{
					field : 'receiveName', 
					title : '收货人名称',
					sortable: false
				},
				{
					field : 'receiveContacts', 
					title : '收货联系人',
					sortable: false
				},
				{
					field : 'receivePhone', 
					title : '接收人电话',
					sortable: false
				},
				{
					field : 'serviceModeStr',
					title : '服务方式',
					sortable: false
				},
				{
					field : 'pickUpMileage', 
					title : '送货里程',
					sortable: false
				},
				{
					field : 'deliveryMileage', 
					title : '送货里程',
					sortable: false
				},
				{
					field : 'pickUpDress', 
					title : '取货地址',
					sortable: false
				},
				{
					field : 'deliveryDress', 
					title : '送货地址',
					sortable: false
				},
				{
					field : 'remark', 
					title : '商议事项',
					sortable: false
				},
				{
					field : 'invoiceStr',
					title : '是否开具发票',
					sortable: false
				},
				{
					field : 'statusStr',
					title : '状态',
					sortable: false
				},
				{
					field : 'createBy', 
					title : '创建人',
					sortable: false
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: false
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	if(row.status==1){
							actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editTab(\'' + row.id + '\')" ><i class="fa fa-edit"></i>编辑</a> ');
							if(roleKey.indexOf("customer")!=-1){
								actions.push('<a class="btn btn-info btn-xs " href="#" onclick="signFor(\'' + row.id + '\')"><i class="fa fa-key"></i>签收</a>');
							}
						}
                        actions.push('<a class="btn btn-warning btn-xs   ' + removeFlag + '" href="#" onclick="orderDetail(\'' + row.id + '\')"><i class="fa fa-search"></i>详情</a>');
						return actions.join('');
		            }
		        }]
            };
			$.table.init(options);
        });
		var orderDetail=function(orderId){
			var url = prefix + '/detail/' + orderId;
			createMenuItem(url, "订单详情");
		}
		var orderEdit=function(orderId){
			var url = prefix + '/edit/' + orderId;
			createMenuItem(url, "修改订单");
		}
		var signFor=function(id){
			var url = prefix + '/signFor';
			$.operate.submit(url, "post", "json", {'id':id});
			$.modal.closeLoading();
		}

    </script>
</body>
</html>