<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-cargo-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">货物编号：</label>
				<div class="col-sm-8">
					<input id="cargoNo" name="cargoNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发货日期：</label>
				<div class="col-sm-8">
					<input id="sendTime" name="sendTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发送省份：</label>
				<div class="col-sm-8">
					<input id="sendPriovince" name="sendPriovince" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发送城市：</label>
				<div class="col-sm-8">
					<input id="sendCity" name="sendCity" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">接收省份：</label>
				<div class="col-sm-8">
					<input id="receivePriovince" name="receivePriovince" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">接收城市：</label>
				<div class="col-sm-8">
					<input id="receiveCity" name="receiveCity" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发送车站：</label>
				<div class="col-sm-8">
					<input id="sendStation" name="sendStation" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">接收车站：</label>
				<div class="col-sm-8">
					<input id="receiveStation" name="receiveStation" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">客户编码：</label>
				<div class="col-sm-8">
					<input id="customerNo" name="customerNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">客户类型：</label>
				<div class="col-sm-8">
					<input id="customerType" name="customerType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发货人名称：</label>
				<div class="col-sm-8">
					<input id="sendName" name="sendName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发货联系人：</label>
				<div class="col-sm-8">
					<input id="sendContacts" name="sendContacts" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发货人电话：</label>
				<div class="col-sm-8">
					<input id="sendPhone" name="sendPhone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收货人名称：</label>
				<div class="col-sm-8">
					<input id="receiveName" name="receiveName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收货联系人：</label>
				<div class="col-sm-8">
					<input id="receiveContacts" name="receiveContacts" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">接收人电话：</label>
				<div class="col-sm-8">
					<input id="receivePhone" name="receivePhone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">货物名称1：</label>
				<div class="col-sm-8">
					<input id="cargoName1" name="cargoName1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">包装1：</label>
				<div class="col-sm-8">
					<input id="pack1" name="pack1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">数量1：</label>
				<div class="col-sm-8">
					<input id="num1" name="num1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">总重1：</label>
				<div class="col-sm-8">
					<input id="weight1" name="weight1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">保价1：</label>
				<div class="col-sm-8">
					<input id="insurance1" name="insurance1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">计费重量1：</label>
				<div class="col-sm-8">
					<input id="billingWeight1" name="billingWeight1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单个最大重量1：</label>
				<div class="col-sm-8">
					<input id="singleMaxWeight1" name="singleMaxWeight1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">长1：</label>
				<div class="col-sm-8">
					<input id="length1" name="length1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">宽1：</label>
				<div class="col-sm-8">
					<input id="width1" name="width1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">高1：</label>
				<div class="col-sm-8">
					<input id="height1" name="height1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">体积1：</label>
				<div class="col-sm-8">
					<input id="volume1" name="volume1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">货物名称2：</label>
				<div class="col-sm-8">
					<input id="cargoName2" name="cargoName2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">包装2：</label>
				<div class="col-sm-8">
					<input id="pack2" name="pack2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">数量2：</label>
				<div class="col-sm-8">
					<input id="num2" name="num2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">总重2：</label>
				<div class="col-sm-8">
					<input id="weight2" name="weight2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">保价2：</label>
				<div class="col-sm-8">
					<input id="insurance2" name="insurance2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">计费总重2：</label>
				<div class="col-sm-8">
					<input id="billingWeight2" name="billingWeight2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单个最大重量2：</label>
				<div class="col-sm-8">
					<input id="singleMaxWeight2" name="singleMaxWeight2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">长2：</label>
				<div class="col-sm-8">
					<input id="length2" name="length2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">宽2：</label>
				<div class="col-sm-8">
					<input id="width2" name="width2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">高2：</label>
				<div class="col-sm-8">
					<input id="height2" name="height2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">体积2：</label>
				<div class="col-sm-8">
					<input id="volume2" name="volume2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">服务方式：</label>
				<div class="col-sm-8">
					<input id="serviceMode" name="serviceMode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">送货里程：</label>
				<div class="col-sm-8">
					<input id="pickUpMileage" name="pickUpMileage" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">送货里程：</label>
				<div class="col-sm-8">
					<input id="deliveryMileage" name="deliveryMileage" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">取货地址：</label>
				<div class="col-sm-8">
					<input id="pickUpDress" name="pickUpDress" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">送货地址：</label>
				<div class="col-sm-8">
					<input id="deliveryDress" name="deliveryDress" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商议事项：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否开具发票：</label>
				<div class="col-sm-8">
					<input id="invoice" name="invoice" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态；0-丢失；1-未签收；2-已签收；关联字典表：</label>
				<div class="col-sm-8">
					<input id="status" name="status" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createBy" name="createBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新人：</label>
				<div class="col-sm-8">
					<input id="updateBy" name="updateBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createDate" name="createDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updateDate" name="updateDate" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "cargo/cargo"
		$("#form-cargo-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-cargo-add').serialize());
	        }
	    }
	</script>
</body>
</html>
