<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.express.project.system.area.mapper.AreasMapper">
    
    <resultMap type="Areas" id="AreasResult">
        <result property="id"    column="id"    />
        <result property="areaid"    column="areaid"    />
        <result property="area"    column="area"    />
        <result property="cityid"    column="cityid"    />
    </resultMap>
	
	<sql id="selectAreasVo">
        select id, areaid, area, cityid from areas
    </sql>
	
    <select id="selectAreasList" parameterType="Areas" resultMap="AreasResult">
        <include refid="selectAreasVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="areaid != null  and areaid != '' "> and areaid = #{areaid}</if>
             <if test="area != null  and area != '' "> and area = #{area}</if>
             <if test="cityid != null  and cityid != '' "> and cityid = #{cityid}</if>
         </where>
    </select>
    
    <select id="selectAreasById" parameterType="Integer" resultMap="AreasResult">
        <include refid="selectAreasVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAreas" parameterType="Areas" useGeneratedKeys="true" keyProperty="id">
        insert into areas
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="areaid != null  and areaid != ''  ">areaid,</if>
			<if test="area != null  and area != ''  ">area,</if>
			<if test="cityid != null  and cityid != ''  ">cityid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="areaid != null  and areaid != ''  ">#{areaid},</if>
			<if test="area != null  and area != ''  ">#{area},</if>
			<if test="cityid != null  and cityid != ''  ">#{cityid},</if>
         </trim>
    </insert>
	 
    <update id="updateAreas" parameterType="Areas">
        update areas
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaid != null  and areaid != ''  ">areaid = #{areaid},</if>
            <if test="area != null  and area != ''  ">area = #{area},</if>
            <if test="cityid != null  and cityid != ''  ">cityid = #{cityid},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteAreasById" parameterType="Integer">
        delete from areas where id = #{id}
    </delete>
	
    <delete id="deleteAreasByIds" parameterType="String">
        delete from areas where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>