<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-freightRate-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">发送站：</label>
				<div class="col-sm-8">
					<!--<input id="sendStation" name="sendStation" class="form-control" type="text">-->
					<select id="sendStation" class="form-control" name="sendStation" th:onchange="linkageStation('sendStation')">
						<option value="">选择车站</option>
						<option th:each="sta:${stationList}" th:value="${sta.id}" th:text="${sta.stationName}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">接收站：</label>
				<div class="col-sm-8">
					<!--<input id="receiveStation" name="receiveStation" class="form-control" type="text">-->
					<select id="receiveStation" class="form-control" name="receiveStation" th:onchange="linkageStation('receiveStation')" >
						<option value="">选择车站</option>
						<option th:each="sta:${stationList}" th:value="${sta.id}" th:text="${sta.stationName}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">价格因子：</label>
				<div class="col-sm-8">
					<input id="priceFactor" name="priceFactor" class="form-control" type="number">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">服务方式：</label>
				<div class="col-sm-8">
					<select name="serviceMode" th:with="list=${@dict.getType('ex_service_mode')}"  class="form-control" required>
						<option value="">选择服务方式</option>
						<option th:each="serviceMode : ${list}" th:text="${serviceMode.dictLabel}" th:value="${serviceMode.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<!--<select th:replace="include::selectDict('status','ex_freight_rate_status')" class="form-control">-->
						<select name="status" id="status"  th:with="type=${@dict.getType('ex_freight_rate_status')}"  class="form-control" required>
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						</select>
					<!--<input id="status" name="status" class="form-control" type="text">-->
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "express/freightRate"
		$("#form-freightRate-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            var priceFactor=parseFloat($("#priceFactor").val());
                if(priceFactor>99||priceFactor<0){
                    $.modal.alert("运价因子应在0至99之间，请确认！");
                    return false;
                }
	            $.operate.save(prefix + "/add", $('#form-freightRate-add').serialize());
	        }
	    }
	    var linkageStation=function(name){
			var send=$("#sendStation").val();
			var receive=$("#receiveStation").val();
			if(send==receive){
				$.modal.alert("不能选择两个相同的车站！");
				$.each($("#"+name).find("option"),function(i,o){
					if($(o).val()==""){
						$(o).attr("selected",true);
					}else{
						$(o).attr("selected",false);
					}
				})
				return false;
			}
		}
	</script>
</body>
</html>
