<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.express.project.cargo.mapper.CargoMapper">
    
    <resultMap type="Cargo" id="CargoResult">
        <result property="id"    column="id"    />
        <result property="cargoNo"    column="cargo_no"    />
        <result property="sendTime"    column="send_time"    />
        <result property="sendPriovince"    column="send_priovince"    />
        <result property="sendCity"    column="send_city"    />
        <result property="receivePriovince"    column="receive_priovince"    />
        <result property="receiveCity"    column="receive_city"    />
        <result property="sendStation"    column="send_station"    />
        <result property="receiveStation"    column="receive_station"    />
        <result property="customerNo"    column="customer_no"    />
        <result property="customerType"    column="customer_type"    />
        <result property="sendName"    column="send_name"    />
        <result property="sendContacts"    column="send_contacts"    />
        <result property="sendPhone"    column="send_phone"    />
        <result property="receiveName"    column="receive_name"    />
        <result property="receiveContacts"    column="receive_contacts"    />
        <result property="receivePhone"    column="receive_phone"    />
        <result property="cargoName1"    column="cargo_name1"    />
        <result property="pack1"    column="pack1"    />
        <result property="num1"    column="num1"    />
        <result property="weight1"    column="weight1"    />
        <result property="insurance1"    column="insurance1"    />
        <result property="billingWeight1"    column="billing_weight1"    />
        <result property="singleMaxWeight1"    column="single_max_weight1"    />
        <result property="length1"    column="length1"    />
        <result property="width1"    column="width1"    />
        <result property="height1"    column="height1"    />
        <result property="volume1"    column="volume1"    />
        <result property="cargoName2"    column="cargo_name2"    />
        <result property="pack2"    column="pack2"    />
        <result property="num2"    column="num2"    />
        <result property="weight2"    column="weight2"    />
        <result property="insurance2"    column="insurance2"    />
        <result property="billingWeight2"    column="billing_weight2"    />
        <result property="singleMaxWeight2"    column="single_max_weight2"    />
        <result property="length2"    column="length2"    />
        <result property="width2"    column="width2"    />
        <result property="height2"    column="height2"    />
        <result property="volume2"    column="volume2"    />
        <result property="serviceMode"    column="service_mode"    />
        <result property="pickUpMileage"    column="pick_up_mileage"    />
        <result property="deliveryMileage"    column="delivery_mileage"    />
        <result property="pickUpDress"    column="pick_up_dress"    />
        <result property="deliveryDress"    column="delivery_dress"    />
        <result property="remark"    column="remark"    />
        <result property="invoice"    column="invoice"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>
	
	<sql id="selectCargoVo">
        select id, cargo_no, send_time, send_priovince, send_city, receive_priovince, receive_city, send_station, receive_station, customer_no, customer_type, send_name, send_contacts, send_phone, receive_name, receive_contacts, receive_phone, cargo_name1, pack1, num1, weight1, insurance1, billing_weight1, single_max_weight1, length1, width1, height1, volume1, cargo_name2, pack2, num2, weight2, insurance2, billing_weight2, single_max_weight2, length2, width2, height2, volume2, service_mode, pick_up_mileage, delivery_mileage, pick_up_dress, delivery_dress, remark, invoice, status, create_by, update_by, create_date, update_date from ex_cargo
    </sql>
	
    <select id="selectCargoList" parameterType="Cargo" resultMap="CargoResult">
        <include refid="selectCargoVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="cargoNo != null  and cargoNo != '' "> and cargo_no = #{cargoNo}</if>
             <if test="sendTime != null "> and send_time = #{sendTime}</if>
             <if test="sendPriovince != null "> and send_priovince = #{sendPriovince}</if>
             <if test="sendCity != null  and sendCity != '' "> and send_city = #{sendCity}</if>
             <if test="receivePriovince != null "> and receive_priovince = #{receivePriovince}</if>
             <if test="receiveCity != null  and receiveCity != '' "> and receive_city = #{receiveCity}</if>
             <if test="sendStation != null "> and send_station = #{sendStation}</if>
             <if test="receiveStation != null "> and receive_station = #{receiveStation}</if>
             <if test="customerNo != null  and customerNo != '' "> and customer_no = #{customerNo}</if>
             <if test="customerType != null "> and customer_type = #{customerType}</if>
             <if test="sendName != null  and sendName != '' "> and send_name = #{sendName}</if>
             <if test="sendContacts != null  and sendContacts != '' "> and send_contacts = #{sendContacts}</if>
             <if test="sendPhone != null  and sendPhone != '' "> and send_phone = #{sendPhone}</if>
             <if test="receiveName != null  and receiveName != '' "> and receive_name = #{receiveName}</if>
             <if test="receiveContacts != null  and receiveContacts != '' "> and receive_contacts = #{receiveContacts}</if>
             <if test="receivePhone != null  and receivePhone != '' "> and receive_phone = #{receivePhone}</if>
             <if test="cargoName1 != null  and cargoName1 != '' "> and cargo_name1 = #{cargoName1}</if>
             <if test="pack1 != null  and pack1 != '' "> and pack1 = #{pack1}</if>
             <if test="num1 != null "> and num1 = #{num1}</if>
             <if test="weight1 != null "> and weight1 = #{weight1}</if>
             <if test="insurance1 != null "> and insurance1 = #{insurance1}</if>
             <if test="billingWeight1 != null "> and billing_weight1 = #{billingWeight1}</if>
             <if test="singleMaxWeight1 != null "> and single_max_weight1 = #{singleMaxWeight1}</if>
             <if test="length1 != null "> and length1 = #{length1}</if>
             <if test="width1 != null "> and width1 = #{width1}</if>
             <if test="height1 != null "> and height1 = #{height1}</if>
             <if test="volume1 != null "> and volume1 = #{volume1}</if>
             <if test="cargoName2 != null  and cargoName2 != '' "> and cargo_name2 = #{cargoName2}</if>
             <if test="pack2 != null  and pack2 != '' "> and pack2 = #{pack2}</if>
             <if test="num2 != null "> and num2 = #{num2}</if>
             <if test="weight2 != null "> and weight2 = #{weight2}</if>
             <if test="insurance2 != null "> and insurance2 = #{insurance2}</if>
             <if test="billingWeight2 != null "> and billing_weight2 = #{billingWeight2}</if>
             <if test="singleMaxWeight2 != null "> and single_max_weight2 = #{singleMaxWeight2}</if>
             <if test="length2 != null "> and length2 = #{length2}</if>
             <if test="width2 != null "> and width2 = #{width2}</if>
             <if test="height2 != null "> and height2 = #{height2}</if>
             <if test="volume2 != null "> and volume2 = #{volume2}</if>
             <if test="serviceMode != null "> and service_mode = #{serviceMode}</if>
             <if test="pickUpMileage != null "> and pick_up_mileage = #{pickUpMileage}</if>
             <if test="deliveryMileage != null "> and delivery_mileage = #{deliveryMileage}</if>
             <if test="pickUpDress != null  and pickUpDress != '' "> and pick_up_dress = #{pickUpDress}</if>
             <if test="deliveryDress != null  and deliveryDress != '' "> and delivery_dress = #{deliveryDress}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="invoice != null "> and invoice = #{invoice}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="updateDate != null "> and update_date = #{updateDate}</if>
         </where>
    </select>
    
    <select id="selectCargoById" parameterType="Integer" resultMap="CargoResult">
        <include refid="selectCargoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCargo" parameterType="Cargo" useGeneratedKeys="true" keyProperty="id">
        insert into ex_cargo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cargoNo != null  and cargoNo != ''  ">cargo_no,</if>
			<if test="sendTime != null  ">send_time,</if>
			<if test="sendPriovince != null  ">send_priovince,</if>
			<if test="sendCity != null  and sendCity != ''  ">send_city,</if>
			<if test="receivePriovince != null  ">receive_priovince,</if>
			<if test="receiveCity != null  and receiveCity != ''  ">receive_city,</if>
			<if test="sendStation != null  ">send_station,</if>
			<if test="receiveStation != null  ">receive_station,</if>
			<if test="customerNo != null  and customerNo != ''  ">customer_no,</if>
			<if test="customerType != null  ">customer_type,</if>
			<if test="sendName != null  and sendName != ''  ">send_name,</if>
			<if test="sendContacts != null  and sendContacts != ''  ">send_contacts,</if>
			<if test="sendPhone != null  and sendPhone != ''  ">send_phone,</if>
			<if test="receiveName != null  and receiveName != ''  ">receive_name,</if>
			<if test="receiveContacts != null  and receiveContacts != ''  ">receive_contacts,</if>
			<if test="receivePhone != null  and receivePhone != ''  ">receive_phone,</if>
			<if test="cargoName1 != null  and cargoName1 != ''  ">cargo_name1,</if>
			<if test="pack1 != null  and pack1 != ''  ">pack1,</if>
			<if test="num1 != null  ">num1,</if>
			<if test="weight1 != null  ">weight1,</if>
			<if test="insurance1 != null  ">insurance1,</if>
			<if test="billingWeight1 != null  ">billing_weight1,</if>
			<if test="singleMaxWeight1 != null  ">single_max_weight1,</if>
			<if test="length1 != null  ">length1,</if>
			<if test="width1 != null  ">width1,</if>
			<if test="height1 != null  ">height1,</if>
			<if test="volume1 != null  ">volume1,</if>
			<if test="cargoName2 != null  and cargoName2 != ''  ">cargo_name2,</if>
			<if test="pack2 != null  and pack2 != ''  ">pack2,</if>
			<if test="num2 != null  ">num2,</if>
			<if test="weight2 != null  ">weight2,</if>
			<if test="insurance2 != null  ">insurance2,</if>
			<if test="billingWeight2 != null  ">billing_weight2,</if>
			<if test="singleMaxWeight2 != null  ">single_max_weight2,</if>
			<if test="length2 != null  ">length2,</if>
			<if test="width2 != null  ">width2,</if>
			<if test="height2 != null  ">height2,</if>
			<if test="volume2 != null  ">volume2,</if>
			<if test="serviceMode != null  ">service_mode,</if>
			<if test="pickUpMileage != null  ">pick_up_mileage,</if>
			<if test="deliveryMileage != null  ">delivery_mileage,</if>
			<if test="pickUpDress != null  and pickUpDress != ''  ">pick_up_dress,</if>
			<if test="deliveryDress != null  and deliveryDress != ''  ">delivery_dress,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="invoice != null  ">invoice,</if>
			<if test="status != null  ">status,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateDate != null  ">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cargoNo != null  and cargoNo != ''  ">#{cargoNo},</if>
			<if test="sendTime != null  ">#{sendTime},</if>
			<if test="sendPriovince != null  ">#{sendPriovince},</if>
			<if test="sendCity != null  and sendCity != ''  ">#{sendCity},</if>
			<if test="receivePriovince != null  ">#{receivePriovince},</if>
			<if test="receiveCity != null  and receiveCity != ''  ">#{receiveCity},</if>
			<if test="sendStation != null  ">#{sendStation},</if>
			<if test="receiveStation != null  ">#{receiveStation},</if>
			<if test="customerNo != null  and customerNo != ''  ">#{customerNo},</if>
			<if test="customerType != null  ">#{customerType},</if>
			<if test="sendName != null  and sendName != ''  ">#{sendName},</if>
			<if test="sendContacts != null  and sendContacts != ''  ">#{sendContacts},</if>
			<if test="sendPhone != null  and sendPhone != ''  ">#{sendPhone},</if>
			<if test="receiveName != null  and receiveName != ''  ">#{receiveName},</if>
			<if test="receiveContacts != null  and receiveContacts != ''  ">#{receiveContacts},</if>
			<if test="receivePhone != null  and receivePhone != ''  ">#{receivePhone},</if>
			<if test="cargoName1 != null  and cargoName1 != ''  ">#{cargoName1},</if>
			<if test="pack1 != null  and pack1 != ''  ">#{pack1},</if>
			<if test="num1 != null  ">#{num1},</if>
			<if test="weight1 != null  ">#{weight1},</if>
			<if test="insurance1 != null  ">#{insurance1},</if>
			<if test="billingWeight1 != null  ">#{billingWeight1},</if>
			<if test="singleMaxWeight1 != null  ">#{singleMaxWeight1},</if>
			<if test="length1 != null  ">#{length1},</if>
			<if test="width1 != null  ">#{width1},</if>
			<if test="height1 != null  ">#{height1},</if>
			<if test="volume1 != null  ">#{volume1},</if>
			<if test="cargoName2 != null  and cargoName2 != ''  ">#{cargoName2},</if>
			<if test="pack2 != null  and pack2 != ''  ">#{pack2},</if>
			<if test="num2 != null  ">#{num2},</if>
			<if test="weight2 != null  ">#{weight2},</if>
			<if test="insurance2 != null  ">#{insurance2},</if>
			<if test="billingWeight2 != null  ">#{billingWeight2},</if>
			<if test="singleMaxWeight2 != null  ">#{singleMaxWeight2},</if>
			<if test="length2 != null  ">#{length2},</if>
			<if test="width2 != null  ">#{width2},</if>
			<if test="height2 != null  ">#{height2},</if>
			<if test="volume2 != null  ">#{volume2},</if>
			<if test="serviceMode != null  ">#{serviceMode},</if>
			<if test="pickUpMileage != null  ">#{pickUpMileage},</if>
			<if test="deliveryMileage != null  ">#{deliveryMileage},</if>
			<if test="pickUpDress != null  and pickUpDress != ''  ">#{pickUpDress},</if>
			<if test="deliveryDress != null  and deliveryDress != ''  ">#{deliveryDress},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="invoice != null  ">#{invoice},</if>
			<if test="status != null  ">#{status},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
         </trim>
    </insert>
	 
    <update id="updateCargo" parameterType="Cargo">
        update ex_cargo
        <trim prefix="SET" suffixOverrides=",">
            <if test="cargoNo != null  and cargoNo != ''  ">cargo_no = #{cargoNo},</if>
            <if test="sendTime != null  ">send_time = #{sendTime},</if>
            <if test="sendPriovince != null  ">send_priovince = #{sendPriovince},</if>
            <if test="sendCity != null  and sendCity != ''  ">send_city = #{sendCity},</if>
            <if test="receivePriovince != null  ">receive_priovince = #{receivePriovince},</if>
            <if test="receiveCity != null  and receiveCity != ''  ">receive_city = #{receiveCity},</if>
            <if test="sendStation != null  ">send_station = #{sendStation},</if>
            <if test="receiveStation != null  ">receive_station = #{receiveStation},</if>
            <if test="customerNo != null  and customerNo != ''  ">customer_no = #{customerNo},</if>
            <if test="customerType != null  ">customer_type = #{customerType},</if>
            <if test="sendName != null  and sendName != ''  ">send_name = #{sendName},</if>
            <if test="sendContacts != null  and sendContacts != ''  ">send_contacts = #{sendContacts},</if>
            <if test="sendPhone != null  and sendPhone != ''  ">send_phone = #{sendPhone},</if>
            <if test="receiveName != null  and receiveName != ''  ">receive_name = #{receiveName},</if>
            <if test="receiveContacts != null  and receiveContacts != ''  ">receive_contacts = #{receiveContacts},</if>
            <if test="receivePhone != null  and receivePhone != ''  ">receive_phone = #{receivePhone},</if>
            <if test="cargoName1 != null  and cargoName1 != ''  ">cargo_name1 = #{cargoName1},</if>
            <if test="pack1 != null  and pack1 != ''  ">pack1 = #{pack1},</if>
            <if test="num1 != null  ">num1 = #{num1},</if>
            <if test="weight1 != null  ">weight1 = #{weight1},</if>
            <if test="insurance1 != null  ">insurance1 = #{insurance1},</if>
            <if test="billingWeight1 != null  ">billing_weight1 = #{billingWeight1},</if>
            <if test="singleMaxWeight1 != null  ">single_max_weight1 = #{singleMaxWeight1},</if>
            <if test="length1 != null  ">length1 = #{length1},</if>
            <if test="width1 != null  ">width1 = #{width1},</if>
            <if test="height1 != null  ">height1 = #{height1},</if>
            <if test="volume1 != null  ">volume1 = #{volume1},</if>
            <if test="cargoName2 != null  and cargoName2 != ''  ">cargo_name2 = #{cargoName2},</if>
            <if test="pack2 != null  and pack2 != ''  ">pack2 = #{pack2},</if>
            <if test="num2 != null  ">num2 = #{num2},</if>
            <if test="weight2 != null  ">weight2 = #{weight2},</if>
            <if test="insurance2 != null  ">insurance2 = #{insurance2},</if>
            <if test="billingWeight2 != null  ">billing_weight2 = #{billingWeight2},</if>
            <if test="singleMaxWeight2 != null  ">single_max_weight2 = #{singleMaxWeight2},</if>
            <if test="length2 != null  ">length2 = #{length2},</if>
            <if test="width2 != null  ">width2 = #{width2},</if>
            <if test="height2 != null  ">height2 = #{height2},</if>
            <if test="volume2 != null  ">volume2 = #{volume2},</if>
            <if test="serviceMode != null  ">service_mode = #{serviceMode},</if>
            <if test="pickUpMileage != null  ">pick_up_mileage = #{pickUpMileage},</if>
            <if test="deliveryMileage != null  ">delivery_mileage = #{deliveryMileage},</if>
            <if test="pickUpDress != null  and pickUpDress != ''  ">pick_up_dress = #{pickUpDress},</if>
            <if test="deliveryDress != null  and deliveryDress != ''  ">delivery_dress = #{deliveryDress},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="invoice != null  ">invoice = #{invoice},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCargoById" parameterType="Integer">
        delete from ex_cargo where id = #{id}
    </delete>
	
    <delete id="deleteCargoByIds" parameterType="String">
        delete from ex_cargo where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>