<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.express.project.cargo.mapper.CargoDressMapper">
    
    <resultMap type="CargoDress" id="CargoDressResult">
        <result property="id"    column="id"    />
        <result property="cargoId"    column="cargo_id"    />
        <result property="cargoNo"    column="cargo_no"    />
        <result property="provinceId"    column="provinceId"    />
        <result property="cityId"    column="cityId"    />
        <result property="dress"    column="dress"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectCargoDressVo">
        select id, cargo_id, cargo_no, provinceId, cityId, dress, update_by, update_time, remark from ex_cargo_dress
    </sql>
	
    <select id="selectCargoDressList" parameterType="CargoDress" resultMap="CargoDressResult">
        <include refid="selectCargoDressVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="cargoId != null "> and cargo_id = #{cargoId}</if>
             <if test="cargoNo != null  and cargoNo != '' "> and cargo_no = #{cargoNo}</if>
             <if test="provinceId != null "> and provinceId = #{provinceId}</if>
             <if test="cityId != null  and cityId != '' "> and cityId = #{cityId}</if>
             <if test="dress != null  and dress != '' "> and dress = #{dress}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectCargoDressById" parameterType="Integer" resultMap="CargoDressResult">
        <include refid="selectCargoDressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCargoDress" parameterType="CargoDress">
        insert into ex_cargo_dress
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="cargoId != null  ">cargo_id,</if>
			<if test="cargoNo != null  and cargoNo != ''  ">cargo_no,</if>
			<if test="provinceId != null  ">provinceId,</if>
			<if test="cityId != null  and cityId != ''  ">cityId,</if>
			<if test="dress != null  and dress != ''  ">dress,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="cargoId != null  ">#{cargoId},</if>
			<if test="cargoNo != null  and cargoNo != ''  ">#{cargoNo},</if>
			<if test="provinceId != null  ">#{provinceId},</if>
			<if test="cityId != null  and cityId != ''  ">#{cityId},</if>
			<if test="dress != null  and dress != ''  ">#{dress},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateCargoDress" parameterType="CargoDress">
        update ex_cargo_dress
        <trim prefix="SET" suffixOverrides=",">
            <if test="cargoId != null  ">cargo_id = #{cargoId},</if>
            <if test="cargoNo != null  and cargoNo != ''  ">cargo_no = #{cargoNo},</if>
            <if test="provinceId != null  ">provinceId = #{provinceId},</if>
            <if test="cityId != null  and cityId != ''  ">cityId = #{cityId},</if>
            <if test="dress != null  and dress != ''  ">dress = #{dress},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCargoDressById" parameterType="Integer">
        delete from ex_cargo_dress where id = #{id}
    </delete>
	
    <delete id="deleteCargoDressByIds" parameterType="String">
        delete from ex_cargo_dress where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>